@theme {
  --color-primary-black: #222222;
  --color-primary-red: #ba0c2f;
  --color-primary-aqua: #10bfb1;
  --color-primary-grey: #898989;
  --color-primary-blue: #002d72;

  --color-light-blue: #002b6d1a;
}
